body {
    font-family: Poppins;
    margin: 0;   
  }

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 2.5px;
    padding-bottom: 10px;
    margin-bottom: -20px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0 0.6);
}

#logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}

#navbar {
   display: flex;
    
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    margin-top: 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #1a1a1a;
}

#navbar li a:hover {
    color: #088178;
}


.headerline {
    background-color: #1a1a1a;
    height: 15px;
    margin-bottom: 0;
}

#cart, #user {
    font-size: 25px;
}

.products {
    padding: 30px 8%;
  
  }
  .products .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 225px));
    gap: 50px;
    justify-content: center;
  }
  .products .products-container .box {
    padding: 20px;
    text-align: center;
    position: relative;
    background-color: white;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 5px;
    outline: 1px transparent white;
  
  }
  .products .products-container .box:hover {
    outline: 3px solid #088178;
  }
  .box-text {
    text-align: start;
  }
  .products .products-container .box img {
    width: 100%;
    margin-bottom: 0px;
  }
  .products-container .box h6 {
    font-weight: 800;
    font-size: 16px;
    color: #ff9c01;
    margin-bottom: 0;
  }
  .products-container .box h2 {
    font-size: 20px;
    margin-top: 5px;
  }
  
  .products-container .box .price {
    font-size: 21px;
    color: #088178;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: Nunito;
  }
  .products-container .box .ph-shopping-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: black;
    color: #faf9f9;
    font-size: 20px;
    border-radius: 5px 0;
    cursor: pointer;
  }
  .products-container .box .ph-shopping-cart:hover {
    background-color: #088178;
    transition: 0.2s all linear;
  }

  .return-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.return {
    color: #faf9f9;
    border: 1px solid transparent;
    border-radius: 50px;
    padding:  10px 0px;
    background-color: #0c0c0c;
    width: 230px;
    margin-bottom: 50px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out; 
}

.return:hover {
    transform: scale(.9); 
}

footer {
  background-color: black;
}
.footer-container{
  width: 100%;
  padding-top: 30px;
}
.socials{
  display: flex;
  justify-content: center;
}
.socials a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.socials a i{
  font-size: 32px;
  color: white;
  opacity: 0,9;
}

.footer-nav ul{
  display: flex;
  justify-content: center;
}
.footer-nav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 21px;
  opacity: 0.7;
}
.footer-nav ul li a:hover{
  opacity: 1;
}
.copyright{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.copyright p{
  color: white;
}
.designer{
  opacity: 0.7;
  margin: 0px 5px;
}

#navbar li:nth-last-of-type(3) {
  margin-right: 200px;
  margin-left: 10px;
}

#navbar li:nth-last-of-type(4), #navbar li:nth-last-of-type(5), #navbar li:nth-last-of-type(6) {
  margin-left: 10px;
}